body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  margin-top: 50px;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .container {
  background-color: #2c2c2c;
}

body.dark-mode .alert-info {
  background-color: #444444;
  color: white;
}
